@using ClientLibrary.State
@implements IDisposable
@inject CartStore CartStore
@inject IJSRuntime js

<div class="container">
    @* ... (rest of the HTML remains the same as I already updated it partially but I'll make sure it's correct) ... *@
    <div class="row">
        @if (CartStore.Items.Any())
        {
            <div class="col-lg-12">
                <div class=" p-2 mt-3 w-100 bg-warning">
                    <div class="card m-2">
                        <div class="card-header">
                            <h3 class=" text-center">Mi Carrito</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th style="width:150px">Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th class="text-center">Gestionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in CartStore.Items)
                                    {
                                        var productId = item.ServiceId;
                                        <tr>
                                            <td style="width:150px">
                                                <img src="@item.ImageUrl" alt="@item.Name" style="width: 100px; height: auto; border-radius: 4px;" />
                                            </td>
                                            <td style="width:250px">@item.Name</td>
                                            <td style="width:250px">@item.Price.ToString("C0", new CultureInfo("es-AR"))</td>
                                            <td>
                                                <div class="hstack gap-1">
                                                    <input class="form-control w-25" type="number" value="@item.Quantity"
                                                    min="1" @oninput="(e) => HandleInputChange(e, productId)" id="@productId" />
                                                </div>
                                            </td>
                                            <td>@item.TotalPrice.ToString("C0", new CultureInfo("es-AR"))</td>
                                            <td class="text-center">
                                                <i class="fa fa-trash text-danger buy_bt" @onclick="() => DeleteCartItem(productId)" title="Eliminar"></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="fs-3 mb-3">Total General: @CartStore.Total.ToString("C0", new CultureInfo("es-AR"))</div>
                            <button class=" btn btn-danger btn-lg" @onclick="Checkout">Pagar ahora</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 offset-4 m-5 p-5">
                <div class="text-center alert alert-info">¡El carrito está vacío!</div>
            </div>
        }
        @if (ShowPaymentDialog)
        {
            <div class="modal-backdrop fade show"></div>
            <div class="modal d-block" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content border-warning">
                        <div class="modal-header">
                            <h5 class="modal-title">Seleccionar Método de Pago</h5>
                        </div>
                        <div class="modal-body">
                            @if (PaymentMethods.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var item in PaymentMethods)
                                    {
                                        var payment = item;
                                        <li class="list-group-item list-group-item-action buy_bt" @onclick="() => SelectPaymentMethod(payment)">
                                            @payment.Name
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="modal-footer">
                            @if (Paying != null)
                            {
                                <button class="btn btn-outline-success">@Paying</button>
                            }
                            <button class="btn btn-danger" @onclick="Cancel">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    string Paying = null!;
    bool ShowPaymentDialog = false;
    IEnumerable<GetPaymentMethod> PaymentMethods = [];

    protected override async Task OnInitializedAsync()
    {
        CartStore.OnChange += StateHasChanged;
        await CartStore.InitializeAsync();
        PaymentMethods = await paymentService.GetPaymentMethods();
    }

    public void Dispose()
    {
        CartStore.OnChange -= StateHasChanged;
    }

    async Task HandleInputChange(ChangeEventArgs e, string productId)
    {
        if (int.TryParse(e.Value?.ToString(), out int newQuantity))
        {
            await CartStore.UpdateQuantityAsync(productId, newQuantity);
        }
    }

    async Task DeleteCartItem(string productId)
    {
        await CartStore.RemoveFromCartAsync(productId);
        await js.ToastrWarning("Producto eliminado del carrito");
    }

    [CascadingParameter] public Task<AuthenticationState>? UserAuthState { get; set; }

    async Task Checkout()
    {
        try
        {
            var user = (await UserAuthState!).User;
            if (!user.Identity!.IsAuthenticated)
                NavManager.NavigateTo($"{RouteConstants.AuthenticationLogin}/{Constant.Cart.Name}");
            else
                ShowPaymentDialog = true;
        }
        catch
        {
            NavManager.NavigateTo($"{RouteConstants.AuthenticationLogin}/{Constant.Cart.Name}");
        }
    }

    async Task SelectPaymentMethod(GetPaymentMethod paymentMethod)
    {
        if (paymentMethod == null) return;
        Paying = "Procesando... por favor espere";

        var checkoutItems = CartStore.Items.Select(i => new ProcessCart 
        { 
            ProductId = Guid.Parse(i.ServiceId), 
            Quantity = i.Quantity 
        }).ToList();

        var checkout = new Checkout
            {
                PaymentMethodId = paymentMethod.Id,
                Carts = checkoutItems
            };

        var response = await cartService.Checkout(checkout); 
        if (response.success)
        {
            Paying = null!;
            await CartStore.ClearCartAsync();
            NavManager.NavigateTo(response.Message);
        }
        else
        {
            await js.ToastrError(response.Message);
            Paying = null!;
        }
    }

    void Cancel() => ShowPaymentDialog = false;
}
